extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Nils Kriedner
        p Web Developer &amp; Meditation Facilitator

        .about-bio
          p 
            | For the last 20 years I have been teaching meditation and awareness methods all around the world. And I have also been passionately exploring the world of coding. 
            br
            br
            | I view coding as the "art of using the mind" and meditation as the "art of relaxing the mind". To master life to its fullest - i believe - one has to master both... 
            br
            br
            | My vision is to teach coding and meditation and I call my approach "Conscious Coding".        

        img(src="/static/images/nils-in-nature.jpg" alt="nils meditating in the mountains")

      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Sass
          li Bootstrap 
          li jQuery
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Handlebars 
          li EJS 
          li React.js 
          li Vue.js 
          li PostgreSQL 
          li MongoDB
          li Redux


        h6 Contact Info
        ul
          li +49 (0)30 95627739
          li nkriedner@googlemail.com

        a.btn-link(href='https://github.com/nkriedner', target="_blank") GitHub
        a.btn-link(href='https://teamtreehouse.com/profiles/nilskriedner', target="_blank") Treehouse
        a.btn-link(href='https://www.facebook.com/nilskriedner/', target="_blank") Facebook

    nav.nav
      a(href='/')
        span &larr;
        |  Back