extends layout.pug

block content

  article.portfolio-intro
    h1 My Portfolio
    p Have a look at some projects I have completed to get an idea of my coding skills.

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[1]}`, alt='')
            h5= project.project_name

